* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: gray;
}

#nimbus-title {
    align-content: end;
}

nav ul {
    display: flex;
    flex-direction: column;
    background-color: pink;
}

ul li {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

ul li a {
    text-decoration: none;
    color: black;
}

#nav-toggle {
    position: absolute;
    top: .3rem;
    right: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    padding: 3px 0 3px 0;
}

.nav-bar {
    height: 3px;
    width: 100%;
    background-color: gray;
    border-radius: 30px;
}

#nav-links.active {
    display: none;
}


