* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: gray;
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

ul li {
    list-style-type: none;
}

nav ul {
    display: none;
    gap: 10px;
}

#nav-toggle {
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    padding: 3px 0 3px 0;
}

.nav-bar {
    height: 3px;
    width: 100%;
    background-color: gray;
    border-radius: 30px;
}

