* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-scroll {
    overflow-y: hidden;
}

header {
    position: relative;
    height: 60px;
}

#nimbus-title {
    height: 100%;
    padding-top: .6rem;
    padding-left: .5rem;
}

#nimbus-title-link {
    text-decoration: none;
    color: black;
}

#nav-links {
    opacity: 0;
    transform: translateY(-10px); /* start slightly above */
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    visibility: hidden;
}

ul li a {
    text-decoration: none;
    color: black;
}

#nav-toggle {
    position: absolute;
    top: .55rem;
    right: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    padding: 8px 0 8px 0;
    gap: 6px;
}

.nav-bar {
    height: 4px;
    width: 100%;
    background-color: #3fd6f0;
    border-radius: 5px;
}

#nav-links.active {
    opacity: 1;
    display: flex;
    background-color: white;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    text-align: left;
    position: absolute;
    transform: translateY(0);
    z-index: 0;
    pointer-events: auto;
    visibility: visible;
    font-family: Nunito;
    border-top: solid 1px #dcdedf;
    height: calc(100vh - 60px);
    gap: 20px;
    padding-top: 30px;
}

#nav-links.active a {
    font-size: 30px;
    padding-left: 30px;
}

li:has(> .nav-teams-link) {
    list-style-type: none;
}

#nav-teams-list {
    display: none;
}

#nav-teams-list.teams-active {
    display: flex;
    flex-direction: column;
    background-color: rgba(235, 235, 235, 0.411);
    gap: 5px;
    padding: 10px 0 10px 0;
    border-top: solid 2px rgba(235, 235, 235, 0.63);
    margin-top: 10px;
}

#nav-links.active a.nav-teams-link {
    font-size: 1.6rem;
    padding-left: 45px;
}

section {
    padding: 0 20px 0 20px;
}

#hero-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    background-color: #eef0f2;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#hero-section h2 {
    font-family: Montserrat;
    font-size: 2.5rem;
}

#hero-section h3 {
    font-size: 1.5rem;
    font-family: Nunito;
    font-weight: 300;
    margin-top: 10px;
}

button:hover {
    background-color: #1fc5e2;
}

.get-started-btn {
    text-decoration: none;
    color: black;
}

.get-started-btn:visited {
   color: black;
}

.dot-separator {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: gray;
    border-radius: 50%;
}

.home-sections {
    height: 300px;
    padding: 0px 60px 0 60px;
}

.home-sections h2 {
    font-family: Montserrat;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

#as-seen-on {
    font-family: Nunito;
    text-align: center;
    padding-top: 10px;
    background-color: #3fd6f0;
    min-height: 150px;
}

#testimonial-section {
    padding-top: 20px;
}

#get-app {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Nunito;
    text-align: center;
    padding: 25px 0;
    background-color: rgb(247, 245, 245);
}

#get-app h3 {
    font-size: 25px;
}

#app-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.app-img {
    height: 50px;
    width: auto;
}

#cta-section {
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

/* Styling footer */

footer {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #343a40;
    color: white;
    padding: 30px 25px 25px 25px;
    font-family: Nunito;
    border: none;
    height: 100%;
    width: 100%;
    margin: 0;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

h4 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 5px;
}

footer a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 200;
}

/*Pricing page styling*/

#pricing-container {
    padding: 0 20px 40px 20px;
}

#pricing-title {
    font-family: Nunito;
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
    padding: 0 20px 0 20px;
}

#pricing-paragraph {
    font-family: Nunito;
    font-weight: 400;
    margin-top: 20px;
    padding: 0 10px 0 10px;
    font-size: 1.1rem;
    text-align: center;
}

#pricing-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 25px;
    gap: 15px;
}

#pricing-billing-label {
    font-family: Nunito;
    font-size: 25px;
}

.pricing-btn {
    font-family: Nunito;
    height: 35px;
    width: 120px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    border: none;
}

.monthly-pricing-btn {
    background-color: #3fd6f0;
}

.yearly-pricing-btn {
    background-color: rgb(217, 217, 217);
}

#card-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pricing-card {
    font-family: Nunito;
    background-color: rgb(247, 245, 245);
    padding: 10px 15px 20px 15px;
    border-radius: 20px;
    min-height: 100px;
    max-height: 700px;
}

.pricing-plan-title {
    font-size: 30px;
    text-align: center;
}

.pricing-features-list {
    border-top: solid 1px gray;
    padding: 10px 0 20px 0;
}

.bullet {
    display: inline-block;
    background-color: gray;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 5px;
}

.pricing-features-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pricing-features-list > li {
    list-style-type: none;
    font-size: 1.2rem;
}

.pricing-amt {
    font-size: 35px;
    text-align: center;
}

.pricing-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.pricing-btn-confirm {
    height: 70px;
    width: 190px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    background-color: #3fd6f0;
    font-family: Nunito;
    font-size: 30px;
    font-weight: 400;
}

/*Teams page styling*/
.teams-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.banner-card {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.banner-title {
    text-align: center;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 40px;
    padding: 40px 25px 0 25px;
}

.banner-title-2 {
    margin-top: 10px;
    text-align: center;
    font-family: Nunito;
    font-weight: 300;
    font-size: 18px;
    padding: 0 25px 0 25px;
}

.contact-sales-btn {
    height: 70px;
    width: 190px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    background-color: #3fd6f0;
    font-family: Nunito;
    font-size: 22px;
    font-weight: 600;
}

.team-testimonial {
    background-color: #454b52;
    color: white;
    padding: 20px 25px 20px 25px;
    font-family: Nunito;
    font-size: 25px;
    font-weight: 200;
}

.team-feature-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-header {
    font-family: Montserrat;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.team-feature-title {
    font-family: Nunito;
    text-align: center;
    font-size: 25px;
}

.team-feature-desc {
    font-family: Nunito;
    text-align: center;
    font-size: 18px;
}

.team-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #454b52;
    padding-bottom: 20px;
    padding-top: 18px;
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
}

.team-cta-title {
    font-family: Nunito;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

/*Enterprise page styling*/

#enterprise-features-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 20px;
    margin-top: 40px;
}

#enterprise-features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.enterprise-feature-title {
    font-family: Nunito;
    font-size: 30px;
    text-align: center;
}

.enterprise-feature-desc {
    font-family: Nunito;
    font-size: 20px;
    text-align: center;
}

#enterprise-stats-section {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #343a40;
    font-family: Nunito;
    padding: 15px 20px 20px 20px;
    margin-top: 20px;
    gap: 20px;
}

.stats-header {
    font-size: 35px;
    text-align: center;
    font-weight: 300;
}

.enterprise-stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stat-line {
    font-size: 28px;
    font-weight: 200;
}

#enterprise-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 18px;
    gap: 15px;
}

/* Contact page stying */
#contact-form-section {
    padding-bottom: 20px;
}

#contact-info {
    padding-top: 30px;
    padding-bottom: 15px;
}

#contact-info h1 {
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 15px;
}

#contact-info p {
    font-family: Nunito;
    font-size: 20px;
}

/* Form styling */

form {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding-top: 5px;
}

#message {
    grid-column: 1 / 3;
}

label {
    font-family: Nunito;
    font-size: 18px;
}

input {
    width: 90%;
    height: 40px;
    border: solid 1px gray;
    margin-top: 5px;
}

select {
    border: solid 1px gray;
    height: 40px;
    width: 90%;
    font-family: Nunito;
    font-size: 18px;
}

option {
    font-size: 15px;
}

textarea {
    border: solid 1px gray;
    width: 100%;
    font-family: Nunito;
    font-size: 18px;
}