* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-scroll {
    overflow-y: hidden;
}

main {
    flex-direction: column;
    height: auto;
}

header {
    position: relative;
    height: 60px;
}

#nimbus-title {
    height: 100%;
    padding-top: .6rem;
    padding-left: .5rem;
}

#nav-links {
    opacity: 0;
    transform: translateY(-10px); /* start slightly above */
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    visibility: hidden;
}

ul li a {
    text-decoration: none;
    color: black;
}

#nav-toggle {
    position: absolute;
    top: .55rem;
    right: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    display: flex;
    padding: 8px 0 8px 0;
    gap: 6px;
}

.nav-bar {
    height: 4px;
    width: 100%;
    background-color: #3fd6f0;
    border-radius: 5px;
}

#nav-links.active {
    opacity: 1;
    display: flex;
    background-color: white;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    text-align: left;
    position: absolute;
    transform: translateY(0);
    z-index: 0;
    pointer-events: auto;
    visibility: visible;
    font-family: Nunito;
    border-top: solid 1px #dcdedf;
    height: calc(100vh - 60px);
    gap: 20px;
    padding-top: 30px;
}

#nav-links.active a {
    font-size: 30px;
    padding-left: 30px;
}

li:has(> .nav-teams-link) {
    list-style-type: none;
}

#nav-teams-list {
    display: none;
}

#nav-teams-list.teams-active {
    display: flex;
    flex-direction: column;
    background-color: rgba(235, 235, 235, 0.411);
    gap: 5px;
    padding: 10px 0 10px 0;
    border-top: solid 2px rgba(235, 235, 235, 0.63);
    margin-top: 10px;
}

#nav-links.active a.nav-teams-link {
    font-size: 1.6rem;
    padding-left: 45px;
}

section {
    padding: 0 20px 0 20px;
}

#hero-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    background-color: #eef0f2;
    padding-top: 30px;
    padding-bottom: 20px;
}

#hero-section h2 {
    font-family: Montserrat;
    font-size: 2.5rem;
}

#hero-section h3 {
    font-size: 1.5rem;
    font-family: Nunito;
    font-weight: 300;
    margin-top: 10px;
}

#hero-section button {
    width: 185px;
    height: 70px;
    border-radius: 25px;
    font-size: 22px;
    font-weight: bold;
    background-color: #3fd6f0;
    color: white;
    border: none;
    font-family: Nunito;
    letter-spacing: 0.5px;
}

#hero-section button:hover {
    background-color: #1fc5e2;
}

.dot-separator {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: gray;
    border-radius: 50%;
}

.home-sections {
    height: 300px;
    padding: 0px 60px 0 60px;
}

.home-sections h2 {
    font-family: Montserrat;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

#as-seen-on {
    font-family: Nunito;
    text-align: center;
    padding-top: 10px;
    background-color: #3fd6f0;
    height: 150px;
}

#testimonial-section {
    padding-top: 20px;
}

#get-app {
    font-family: Nunito;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(247, 245, 245);
    height: 150px;
}

#cta-section {
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#cta-btn {
    width: 185px;
    height: 70px;
    border-radius: 25px;
    font-size: 22px;
    font-weight: bold;
    background-color: #3fd6f0;
    color: white;
    border: none;
    font-family: Nunito;
    letter-spacing: 0.5px;
}

footer {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #343a40;
    color: white;
    padding: 30px 25px 25px 25px;
    font-family: Nunito;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

h4 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 5px;
}

footer a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 200;
}